<%- include('./partials/_header.ejs') %>
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <form action="/contact" method="POST" id="contactForm">
                <div class="row justify-content-between">
                    <div class="col-md-3">
                        <input type="text" class="form-control <%= errors.name ? 'is-invalid' : '' %> " name="name"
                            placeholder="John Doe">
                        <div class="invalid-feedback">
                            <%= errors.name %>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="email" class="form-control <%= errors.email ? 'is-invalid' : '' %> " name="email"
                            placeholder="jhon@example.com">
                        <div class="invalid-feedback">
                            <%= errors.email %>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control <%= errors.phone ? 'is-invalid' : '' %> " name="phone"
                            placeholder="+632785609">
                        <div class="invalid-feedback">
                            <%= errors.phone %>
                        </div>
                    </div>
                    <input type="hidden" name="id">
                    <div class="col-md-1 mr-4">
                        <input type="submit" value="Create" class="btn btn-success">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-between mt-3">
        <div class="col-md-10 offset-md-1">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data) { %>
                    <% for( dt of data ) { %>
                    <tr>
                        <th><%= dt.name %> </th>
                        <td><%= dt.email %> </td>
                        <td><%= dt.phone %> </td>
                        <td>
                            <button 
                            class="btn btn-info btn-edit"
                            data-name="<%= dt.name %>"
                            data-email="<%= dt.email %>"
                            data-phone="<%= dt.phone %>"
                            data-id="<%= dt._id %>"
                            >
                                Edit
                            </button>
                            <a href="/contact/delete/<%= dt._id %>" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include('./partials/_footer.ejs') %>